.link {
  color: #cc8800;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap
}

.active,
.link:hover {
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
  padding-bottom: 7px;
  transition: all .3s;
}
